@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <li class="@Url.IsLinkActive("Index", "Dollar")">
                <a href="@Url.Action("Index", "Dollar")"><i class="fa fa-link"></i> <span>DollarUniverseActiveJob</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "SSIS")">
                <a href="@Url.Action("Index", "SSIS")"><i class="fa fa-link"></i> <span>SSISDashboard</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "AtlasError")">
                <a href="@Url.Action("Index", "AtlasError")"><i class="fa fa-link"></i> <span>AtlasErrorDashboard</span></a>
            </li>
          @* <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Cyclesetup</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">PODS Cyclesetup</a></li>
            <li><a href="#">IEROLTP Cyclesetup</a></li>
        </ul>
    </li>*@
        </ul>
        @* END Menu *@
    </section>
</aside>